@font-face {
  font-family: Bellerose;
  src: url(Bellerose.ttf);
}

* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Bellerose, "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #8f6542;
  line-height: 3rem;
}

.hidden {
  display: none;
}

.centerFlex {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

html {
  /* background-image: linear-gradient(#f3ded8, #804389); */
  background-color: #f3ded8;
  /* background-image: url(img/background.jpg); */
  background-size: cover;
}

.title {
  /* font-family: "Niconne", cursive; */
  font-size: 4.8rem;
  font-weight: 400;
  text-transform: none;
  /* color: #d6b984; */
  color: #8f6542;
  text-align: center;
}

h1 {
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
  /* font-family: "Niconne", cursive; */
  font-size: 3.6rem;
  font-weight: 400;
  text-transform: none;
  /* color: #d6b984; */
  color: #8f6542;
  text-align: center;
}

h2 {
  margin-top: 2.4rem;
  font-size: 3rem;
  font-weight: 400;
  text-transform: none;
  color: #8f6542;
  text-align: left;
  padding-left: 2.4rem;
}

.contactSection {
  padding: 4.8rem;
}

p {
  margin: 2.4rem;
  font-size: 2rem;
  text-transform: none;
}

.titleImage {
  /* background-color: #fff; */
  height: 24rem;
  /* margin: 16rem; */
  /* padding: 4rem; */
  /* border-radius: 50%; */
}

.imgBorder {
  height: 24rem;
  width: 24rem;
  background-color: #f3ded8;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.topNav {
  justify-content: right;
  align-items: center;
  padding: 1.6rem;
  margin-bottom: 6rem;
  gap: 2.4rem;
  color: #f3ded8;
  background-color: #804e89;
}

.topLogo {
  max-height: 9.6rem;
}

.freeShipping {
  color: #f3ded8;
  margin: 0;
}

.main {
  width: 80%;
  max-width: 96rem;
  margin: 0 auto;
}

section {
  background-color: #0000;
  margin-bottom: 24rem;
  width: 100%;
  /* overflow: hidden; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.shopSection {
  margin-bottom: 48rem;
}

.mainNav {
  justify-content: center;
  /* width: 96rem; */
  margin: 0 auto;
  border: 0.1rem solid #8f6542;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pageNav {
  flex: 1;
  background-color: #f3ded8;
  padding: 1.2rem 0;
  border-right: 0.1rem solid #000;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.7s;
}

.pageNav:hover {
  /* background-color: #db9b88; */
  background-color: #804e89;
  color: #f3ded8;
  transition-duration: 0.7s;
}

.activeBtn {
  /* background-color: #db9b88; */
  background-color: #804e89;
  color: #f3ded8;
  transition-duration: 0.7s;
}

.activeBtn:hover {
  background-color: #f3ded8;
  color: #8f6542;
  transition-duration: 0.7s;
}

.mainNav a:first-child {
  border-radius: 1rem 0 0 1rem;
}

.mainNav a:last-child {
  border-radius: 0 1rem 1rem 0;
  border: none;
}

a {
  font-size: 1.6rem;
}

.sliderContainer {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  margin-top: 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sliderAuto {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.sliderAuto img {
  width: 100%;
  flex-shrink: 0;

  max-height: 64rem;
  display: block;
}

/* About */

.aboutSection {
  margin-top: 2.4rem;
}

/* FAQ */

.grid2Col {
  display: grid;
  /* grid-template-columns: 45% 45%; */
  grid-template-columns: 100%;
  width: 100%;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
  justify-content: center;
  /* align-items: center; */
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

/* SHOP */

.gridShop {
  display: grid;
  grid-template-columns: 40% 40%;
  width: 100%;
  column-gap: 4.8rem;
  row-gap: 4.8rem;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  padding-bottom: 10%;
  /* max-height: 48rem; */
  /* overflow-y: scroll; */
}

.gridShop a {
  padding: 1.6rem;
  border: 0.1rem solid #8f6542;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.gridShop img {
  max-width: 100%;
  border-radius: 1rem;
}

.price {
  font-size: 2.4rem;
  text-align: right;
}

.desc {
  margin: 0;
  margin-top: 0.4rem;
  font-size: 1.5rem;
}

.gridTitle {
  margin: 0;
  /* font-style: italic; */
}

.priceFlex {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  gap: 0.8rem;
  justify-content: right;
  align-items: center;
}

.priceFlex p {
  font-size: 2.4rem;
  margin: 0;
}

.discount {
  /* text-decoration: line-through; */
  color: #804e89;
  /* text-decoration: dashed; */
}

::selection {
  color: #f3ded8;
  background: #8f6542;
}

.title::selection,
.topNav *::selection {
  color: #8f6542;
  background: #d6b984;
}

img::selection {
  background: none;
}

.shopCard {
  transition-duration: 0.7s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.shopCard:hover {
  /* height: 105%;
  width: 105%; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #d6b984;
}

.belowShop {
  margin: 0;
  /* margin-left: 4.8rem; */
}

/* PAYSCREEN */

.payScreen {
  max-width: 100%;
  background-color: #f3ded8;
  border: 0.1rem solid #8f6542;
  border-radius: 1rem;
  padding: 2.4rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin-top: 1.2rem;
}

.payScreen img {
  max-width: 45rem;
  max-height: 36rem;
  border-radius: 1rem;
}

.flexPay {
  display: flex;
}

.flexPayDesc {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 1.2rem;
}

.payTitle {
  font-size: 3.6rem;
  margin: 0;
  text-align: center;
}

.payFlex {
  font-size: 3.6rem;
}

.payButton {
  width: 24rem;
}

form {
  align-self: center;
  margin-top: 3.6rem;
}

.flexTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.4rem;
}

.material-symbols-outlined {
  cursor: pointer;
}

.topX {
  /* display: none; */
  margin-left: 95%;
}

.bottomX {
  display: inline-block;
}

/* Manual Slideshow */
.MSLflex {
  margin: 0 auto;
}

.manualSlidesBox {
  position: relative;
  max-width: 45rem;
  max-height: 36rem;
  border-radius: 1rem;
}

.slide {
  display: none;
}

.slideManual img {
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 0.8rem 1.2rem;
  position: absolute;
  top: 0;
}

.dotContainer {
  /* text-align: center; */

  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  margin-left: 0.4rem;
  /* margin-top: 16rem; */
  /* margin-top: 0.4rem; */
}

.dot {
  cursor: pointer;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #d6b984;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  /* background-color: #db9b88; */
  background-color: #804e89;
}

.flash {
  animation-name: flash;
  animation-duration: 1.5s;
}

@keyframes flash {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.review {
  margin-bottom: 0;
}

.reviews * {
  text-align: center;
  /* background-color: #804e89; */
  color: #804e89;
}

.tinyFontHeader {
  text-align: center;
  color: #f3ded8;
}

footer {
  padding-bottom: 1.6rem;
  padding-left: 1.6rem;
  background-color: #804e89;
}

.tinyFont {
  text-align: left;
  font-size: 1.6rem;
  margin: 0;
  text-decoration: none;
  text-transform: none;
  line-height: 0.8;
  color: #f3ded8;
}
